.about-me {
    max-width: 1024px;
    overflow: hidden;
    height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me-title {
    // margin-left: 25px;
    text-align: center;
    margin-top: -20px;
}

.about-me h2 {
    font-size: 78px;
    margin: 0;
}

// .about-me h2:hover {
//     cursor: default;
//     color: #5988FF;
// }

.about-me-content {
    display: flex;
    justify-content: center;
    // flex-direction: column;
}

.about-me-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-left-content {
    display: flex;
    flex-direction: column;
}

.about-me-left-content p {
    margin: 0;
    padding: 0px 25px;
    padding-bottom: 20px;
}

.about-me-button {
    text-decoration: none;
    color: black;
    transition: transform 225ms ease-in-out;
    margin-bottom: 100px;
    align-self: center;
    font-size: 23px;
    border: 3px solid black;
    background-color: transparent;
    padding: 10px 25px;
}

.about-me-button:hover {
    cursor: pointer;
    transform: scaleX(1.1);
    font-weight: bold;
}

.about-me-border-container {
    position: relative;
    height: 380px;
}

.about-me-photo {
    margin-right: -60px;
    object-fit: contain;
    border: 5px solid transparent;
    height: 350px;
    width: 350px;
}

.border-hover {
    position: absolute;
    border: 5px solid transparent;
    height: 345px;
    width: 245px;
}

.border-hover:hover {
    border: 5px solid black;
    top: 20px;
    right: 20px;
}




