
<div data-aos="fade-right" data-aos-duration="2000" class="about-me">
    
    <div class="about-me-content">
        <div class="about-me-text-section">
            <div class="about-me-content">
                <div class="about-me-left-content">
                    <h2 id="about-me">About me</h2>
                    <p>I am a 22-year old Frontend Developer based in Munich, Germany. I was generally interested in programming, so that's why i wanted to gain much more experience and joined Developer Akademie to realize more projects and to eventually land a job as Frontend Developer in the future.
                    I am always ready to learn new technologies and hope to gain even more experience with much larger projects.
                    <br><br>
                    If you think I'd be a good match for your projects, contact me!
                </p>
                <a (click)="onClick('lets-talk')"  class="about-me-button">Let's Talk</a>
                </div>
                
            </div>
        </div>
       
        <div class="about-me-border-container">
            <div class="border-hover">
            </div>
            <img class="about-me-photo" src="assets/img/about-me/portfolio_picture_edited.jpg">
        </div>
        
    </div>
</div>

