<div class="my-project-container">
    <div class="my-project-headline">
        <h2 id="portfolio">Portfolio</h2>
        <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    
    <div data-aos="fade-right" data-aos-duration="1250" class="my-projects">
        <div class="counter-mobile">
            <h3>01/04</h3>
        </div>
        <div class="project project-1">
            <div class="project-img project-img-1">
                <div class="border-img border-img-1">
                    <span class="project-arrow-circle project-arrow-circle-1">
                        <img class="project-arrow project-arrow-1" src="../../assets/img/portfolio/background_color_arrow_down.svg">
                    </span>
                </div>            
            </div>
            <!-- <img class="project-img" src="../../assets/img/portfolio/join_portfolio.svg" > -->
            <div class="counter counter-1">
                <h3>01/05</h3>
                <div class="project-info project-info-1">
                    <h4>Join</h4>
                    <h5>JavaScript | HTML | CSS</h5>
                    <p>Task manager inspired by Kanban System. Create and organize tasks using drag and drop functions, assign users and categories</p>
                </div>
                <div class="prasentation-btn-container prasentation-project-btn-container-1">
                    <a href="https://emir-salihovic.developerakademie.net/Join/login.html" target="_blank" class="prasentation-btn try-out-btn-1">Try out</a>
                    <a href="https://github.com/axmmxa/Join" class="prasentation-btn github-btn-1">Github</a>
                </div>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="1250" class="project-reverse project-reverse-2">
            <div class="counter-reverse counter-reverse-2">
                <h3>02/05</h3>
                <div class="project-info-reverse project-info-2">
                    <h4>El-Pollo-Loco</h4>
                    <h5>JavaScript | HTML | CSS</h5>
                    <p>Jump, run and throw based game on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p>
                </div> 
                <div class="prasentation-btn-container prasentation-project-btn-container-2">
                    <a href="https://emir-salihovic.developerakademie.net/El-Pollo-Loco/index.html" target="_blank" class="prasentation-btn try-out-btn-2">Try out</a>
                    <a href="https://github.com/esali00/El-Pollo-Loco" class="prasentation-btn github-btn-2">Github</a>
                </div>
            </div>

            <div class="project-img project-img-2">
                <h3 class="counter-mobile-reverse">02/04</h3>
                <div class="border-img-reverse border-img-2">
                    <span class="project-arrow-circle-reverse project-arrow-circle-2">
                        <img class="project-arrow project-arrow-2" src="../../assets/img/portfolio/background_color_arrow_down.svg">
                    </span>
                </div>
            </div>
            <!-- <img class="project-img" src="../../assets/img/portfolio/join_portfolio.svg" > -->
        </div>

        <div class="counter-mobile">
            <h3>03/05</h3>
        </div>
        <div data-aos="fade-right" data-aos-duration="1250" class="project project-3">
            <div class="project-img project-img-3">
                <div class="border-img border-img-3">
                    <span class="project-arrow-circle project-arrow-circle-3">
                        <img class="project-arrow project-arrow-3" src="../../assets/img/portfolio/background_color_arrow_down.svg">
                    </span>
                </div>
            </div>
            <!-- <img class="project-img" src="../../assets/img/portfolio/join_portfolio.svg" > -->
            <div class="counter counter-3">
                <h3>03/05</h3>
                <div class="project-info project-info-3">
                    <h4>Pokedex</h4>
                    <h5>JavaScript | HTML | CSS | API</h5>
                    <p>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                </div>
                <div class="prasentation-btn-container prasentation-project-btn-container-3">
                    <a href="https://emir-salihovic.developerakademie.net/Pokedex/index.html" target="_blank" class="prasentation-btn try-out-btn-3">Try out</a>
                    <a href="https://github.com/esali00/Pokedex" class="prasentation-btn github-btn-3">Github</a>
                </div>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="1250" class="project-reverse project-reverse-4">
            <div class="counter-reverse counter-reverse-4">
                <h3>04/05</h3>
                <div class="project-info-reverse project-info-4">
                    <h4>Ring of Fire</h4>
                    <h5>Angular | TypeScript | HTML | SCSS</h5>
                    <p>An interactive card game you can play with your friends e.g Truth or Dare. Hosted and connected to the firebase and its database.</p>
                </div> 
                <div class="prasentation-btn-container prasentation-project-btn-container-4">
                    <a href="https://ring-of-fire-61c46.web.app" target="_blank"  class="prasentation-btn try-out-btn-4">Try out</a>
                    <a href="https://github.com/esali00/RingOfFire" class="prasentation-btn github-btn-4">Github</a>
                </div>
            </div>

            <div class="project-img project-img-4">
                <h3 class="counter-mobile-reverse">04/04</h3>
                <div class="border-img-reverse border-img-4">
                    <span class="project-arrow-circle-reverse project-arrow-circle-4">
                        <img class="project-arrow project-arrow-4" src="../../assets/img/portfolio/background_color_arrow_down.svg">
                    </span>
                </div>
            </div>
            <!-- <img class="project-img" src="../../assets/img/portfolio/join_portfolio.svg" > -->
        </div>


        <div class="counter-mobile">
            <h3>05/05</h3>
        </div>
        <div data-aos="fade-right" data-aos-duration="1250" class="project project-5">
            <div class="project-img project-img-5">
                <div class="border-img border-img-5">
                    <span class="project-arrow-circle project-arrow-circle-5">
                        <img class="project-arrow project-arrow-5" src="../../assets/img/portfolio/background_color_arrow_down.svg">
                    </span>
                </div>            
            </div>
            <!-- <img class="project-img" src="../../assets/img/portfolio/join_portfolio.svg" > -->
            <div class="counter counter-5">
                <h3>05/05</h3>
                <div class="project-info project-info-5">
                    <h4>Portfolio</h4>
                    <h5>Angular | TypeScript | HTML | SCSS</h5>
                    <p>This is my personal portfolio made with angular.</p>
                </div>
                <div class="prasentation-btn-container prasentation-project-btn-container-5">
                    <a href="" target="_blank" class="prasentation-btn try-out-btn-5">Try out</a>
                    <a href="https://github.com/esali00/Portfolio" class="prasentation-btn github-btn-5">Github</a>
                </div>
            </div>
        </div>


    <div [class.d-none]="router.url !== '/'" class="project-right-arrow-container">
        <div class="project-right-placement-container">
            <img data-aos="fade-down-left" data-aos-duration="1500"  src="../../assets/img/arrows/left-rotated-arrow.svg">
        </div>
    </div>

    </div>
</div>
