.navbar {
    width: 90%;
    height: 12vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.it-icon {
    cursor: pointer;
    height: 64px;
    width: auto;
}

.menu-icon {
    cursor: pointer;
    font-size: 32px;
    width: auto;
}

