<div class="menu">
    <div class="navbar">
        <a routerLink="/"><img class="it-icon" src="../assets/img/introduction/initials_logo.png" /></a>
        <span routerLink="/" class="close-icon">&#10006;</span>
    </div>

    <div class="links">
        <a pagesScroll [routerLink]="['/about-me']" class="about-me-link">
            About me
        </a>
        <a pageScroll [routerLink]="['/my-skills']"class="my-skills-link">
            My skills
        </a>
        <a pageScroll [routerLink]="['/portfolio']" class="portfolio-link">
            Portfolio
        </a>
    </div>

    <div class="triangle-background">
        <div class="contact-footer-menu">
            <div class="contact-footer-text">
                <h1>Say hi!</h1>
                <p>e.salihovic@outlook.de</p>
            </div>
            
            <div class="social-media-icons">
               <a href=""><img src="../../assets/img/footer/github_icon.svg"></a> 
               <a href=""><img src="../../assets/img/footer/email_icon.svg"></a> 
               <a href=""><img src="../../assets/img/footer/linkedin_icon.svg"></a> 
            </div>
            
        </div>
    </div>

</div>