<div class="introduction">
    <h1 class="introduction-profession">Frontend <br> Developer</h1>
    <div class="caption">
        <div class="underline"></div>
        <span class="small-caption-name">Emir Salihovic</span>
    </div>

    <button (click)="onClick('lets-talk')" class="send-a-message-btn">Send a message</button>

    <div class="scroll-area">
        <span class="side-email">e.salihovic@outlook.de</span>
        
        <div class="scroll-notice">
            <div class="arrow-animation-area">
                <img class="arrow-down" src="../../assets/img/introduction/arrow_down.svg">
            </div>
            <span>Scroll Down</span>
        </div>
    </div>
</div>
